<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body>
    <%- include('../layouts/partials/header') %>
    <%- include('../layouts/partials/navigation') %>

    <main>
        <h1><%- title %></h1>
        <%- messages() %>
        <!-- error messages -->
        <% if (errors) { %>
         <ul class="notice">
            <% errors.array().forEach(error => { %>
             <li><%= error.msg %></li>
            <% }) %>
         </ul>
        <% } %>
        

        <p>You're logged in</p>
    </main>

    <%- include('../layouts/partials/footer') %>
</body>
</html>