<% if (title) { %>
    <h1><%= title %></h1>
<% } %>


<div class="form__container">

    
<!-- Message Block to display if needed -->
    <%- messages() %>
    
<!-- Display error messages from validation -->
<% if (errors && errors.length > 0) { %>
<ul class="notice">
    <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
    <% }); %> 
</ul>
<% } %> 
    
    <form action="/inv/update" method="POST">
        <!-- Classification dropdown -->
        <label for="classificationList">Classification
            <%- classificationSelect  %>
        </label>        
        <label for="invMake">Make</label>
        <input 
            type="text" 
            name="inv_make" 
            id="invMake" 
            required 
            pattern="^[a-zA-Z0-9 ]+$"
            minlength="3" 
            placeholder="Min of 3 characters"
            <% if (locals.inv_make) { %>
                value="<%= locals.inv_make %>"
            <% } %>>
            
    
        
        <label for="invModel">Model</label>
        <input 
            type="text" 
            name="inv_model" 
            id="invModel" 
            required 
            pattern="^[a-zA-Z0-9 ]+$" 
            minlength="3"
            placeholder="Min of 3 characters"
            <% if (locals.inv_model) { %>
                value="<%= locals.inv_model %>"
            <% } %>>
    
        
        <label for="invDescription">Description</label>
        <textarea
            name="inv_description" 
            id="description" 
            required 
            maxlength="500" 
            title="Description cannot exceed 500 characters">
            <% if (locals.inv_description) { %>
                <%= locals.inv_description %>
            <% } %></textarea>
        
    
      
        <label for="image">Image Path</label>
        <input 
            type="text" 
            name="inv_image" 
            id="image" 
            required 
            <% if (locals.inv_image) { %>
                value="<%= locals.inv_image %>"
            <% } %>>
    
    
        <label for="thumbnail">Thumbnail Path</label>
        <input 
            type="text" 
            name="inv_thumbnail" 
            id="thumbnail" 
            required 
            <% if (locals.inv_thumbnail) { %>
                value="<%= locals.inv_thumbnail %>"
            <% } %>>
    
    
        <label for="price">Price</label>
        <input 
            type="number" 
            name="inv_price" 
            id="price" 
            required 
            step="0.01" 
            min="0" 
            placeholder="Digits only"
            <% if (locals.inv_price) { %>
                value="<%= locals.inv_price %>"
            <% } %>>
    
       
        <label for="year">Year</label>
        <input 
            type="number" 
            name="inv_year" 
            id="year" 
            required 
            min="1900" 
            max="2099" 
            title="Enter a valid year" 
            <% if (locals.inv_year) { %>
                value="<%= locals.inv_year %>"
            <% } %>>
    
        
        <label for="miles">Miles</label>
        <input 
            type="number" 
            name="inv_miles" 
            id="miles" 
            required 
            min="0" 
            placeholder="Digits only"
            <% if (locals.inv_miles) { %>
                value="<%= locals.inv_miles %>"
            <% } %>>
    
        
        <label for="color">Color</label>
        <input 
            type="text" 
            name="inv_color" 
            id="color" 
            required 
            pattern="^[a-zA-Z]+$" 
            minlength="3"
            placeholder="Min of 3 characters"
            <% if (locals.inv_miles) { %>
                value="<%= locals.inv_miles %>"
            <% } %>>
    
        
        <input type="hidden" name="inv_id" <% if (locals.inv_id) { %>
            value="<%= locals.inv_id %>"
        <% } %>>
    
        <button type="submit">Update Vehicle</button>
    </form>
    
</div>
